/*  your css code here. If applicable */
body{
	background-color:#f5f5f5
}
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}
div{
	text-align:center;	
	background-color:white;
	border-radius:20px;
	padding:10px;
	border:10px;
}
.latest-news-section{
	margin:20px;
	width:300px;
}

.main-article{
	margin-left:350px;
	margin-top:-170px; 
	width:500px;
}

.pictorial-news-section{
	margin-left:880px;
	margin-top:-240px;
	width:400px;
}
img{
	width:400px;	
}